<h1>Bienvenidos a la institucion</h1>

<a href="http://localhost:3000/subjects">Ver lista de asignaturas</a><br><br>
<a href="http://localhost:3000/teachers">Ver lista de profesores</a><br><br>
<a href="http://localhost:3000/estudiantes">Ver lista de estudiantes</a><br><br>
<a href="http://localhost:3000/tareas">Ver lista de tareas</a><br><br>
<a href="http://localhost:3000/respuestas">Ver lista de respuestas</a><br><br>

<% if user_signed_in? %>
<%= current_user.email %>
<%= link_to "logout", destroy_user_session_path, method: :delete %>
<% end %>
